$ui-color-yellow: #FFD800;
$ui-color-black: #111111;
$ui-color-light-gray: #DFDFDF;
$ui-color-white: #FFFFFF;
$ui-color-green: #0ABA00;

$font-color-primary: #111111;
$font-color-secondary: #767676;
$font-color-tertiary: #484848;
$font-color-disabled: #DFDFDF;

$icon-color-primary: #111111;

$font-family-ikea: 'Noto Sans IKEA Hebrew', sans-serif;


$color-background-primary-darker: rgb(3, 11, 93);
$color-background-primary-lighter: rgb(204, 228, 255);
$color-background-destructive-darker: rgb(74, 11, 11);
$color-background-destructive-lighter: rgb(252, 207, 207);
$color-background-inverse-light: rgba(255, 255, 255, 0.2);
$color-background-error-lightest: rgb(254, 236, 236);
$color-background-neutral-lightest: rgb(235, 244, 255);
$color-background-dark: rgb(225, 227, 234);
$color-background-success-lightest: rgb(237, 253, 243);
$color-background-destructive-lightest: rgb(254, 236, 236);
$color-background-destructive-darkest: rgb(49, 12, 12);
$color-background-error-dark: rgb(117, 12, 12);
$color-background-primary-lightest: rgb(235, 244, 255);
$color-background-primary-darkest: rgb(6, 3, 58);
$color-background-destructive-dark: rgb(117, 12, 12);
$color-background-destructive-light: rgb(246, 177, 177);
$color-background-primary-dark: rgb(0, 20, 137);
$color-background-primary-light: rgb(153, 205, 255);
$color-background-warning-lightest: rgb(254, 245, 238);
$color-background-darker: rgb(136, 145, 170);
$color-background-darkest: rgb(75, 86, 113);
$color-background-user: rgb(200, 175, 240);
$color-background-trial: rgb(209, 250, 224);
$color-background-subaccount: rgb(255, 241, 179);
$color-background-primary-stronger: rgb(3, 11, 93);
$color-background-destructive-stronger: rgb(74, 11, 11);
$color-background-primary-weaker: rgb(204, 228, 255);
$color-background-destructive-weaker: rgb(252, 207, 207);
$color-background-warning: rgb(244, 124, 34);
$color-background-warning-weakest: rgb(254, 245, 238);
$color-background-inverse-strong: rgba(255, 255, 255, 0.2);
$color-background-new: rgb(231, 220, 250);
$color-background-strong: rgb(225, 227, 234);
$color-background-destructive: rgb(214, 31, 31);
$color-background-primary: rgb(2, 99, 224);
$color-background-primary-weakest: rgb(235, 244, 255);
$color-background-busy: rgb(244, 124, 34);
$color-background-success: rgb(20, 176, 83);
$color-background-destructive-weakest: rgb(254, 236, 236);
$color-background-offline: rgb(174, 178, 193);
$color-background-row-striped: rgb(244, 244, 246);
$color-background-primary-strongest: rgb(6, 3, 58);
$color-background-success-weakest: rgb(237, 253, 243);
$color-background-destructive-strongest: rgb(49, 12, 12);
$color-background-error-strong: rgb(117, 12, 12);
$color-background-brand-strong: rgb(3, 11, 93);
$color-background-brand: rgb(0, 20, 137);
$color-background-error: rgb(214, 31, 31);
$color-background-neutral-weakest: rgb(235, 244, 255);
$color-background-available: rgb(20, 176, 83);
$color-background-error-weakest: rgb(254, 236, 236);
$color-background-required: rgb(235, 86, 86);
$color-background-body: rgb(255, 255, 255);
$color-background-primary-strong: rgb(0, 20, 137);
$color-background-destructive-strong: rgb(117, 12, 12);
$color-background-destructive-weak: rgb(246, 177, 177);
$color-background: rgb(244, 244, 246);
$color-background-primary-weak: rgb(153, 205, 255);
$color-background-stronger: rgb(136, 145, 170);
$color-background-brand-highlight: rgb(242, 47, 70);
$color-background-brand-highlight-weakest: rgba(242, 47, 70, 0.1);
$color-background-strongest: rgb(75, 86, 113);
$color-background-body-inverse: rgb(18, 28, 45);
$color-background-inverse: rgba(255, 255, 255, 0.1);
$color-background-overlay: rgba(6, 3, 58, 0.4);
$color-background-unavailable: rgb(214, 31, 31);
$color-background-brand-stronger: rgb(6, 3, 58);
$color-border-destructive-lighter: rgb(252, 207, 207);
$color-border-primary-lighter: rgb(204, 228, 255);
$color-border-inverse-lightest: rgb(255, 255, 255);
$color-border-primary-darker: rgb(3, 11, 93);
$color-border-destructive-darker: rgb(74, 11, 11);
$color-border-lighter: rgb(225, 227, 234);
$color-border-error-lightest: rgb(254, 236, 236);
$color-border-dark: rgb(96, 107, 133);
$color-border-destructive-darkest: rgb(49, 12, 12);
$color-border-primary-darkest: rgb(6, 3, 58);
$color-border-warning-light: rgb(255, 179, 122);
$color-border-inverse-lighter: rgba(255, 255, 255, 0.9);
$color-border-success-lightest: rgb(237, 253, 243);
$color-border-error-dark: rgb(117, 12, 12);
$color-border-destructive-light: rgb(245, 138, 138);
$color-border-primary-light: rgb(102, 179, 255);
$color-border-success-light: rgb(54, 213, 118);
$color-border-inverse-darker: rgba(255, 255, 255, 0.2);
$color-border-warning-lightest: rgb(254, 245, 238);
$color-border-primary-dark: rgb(0, 20, 137);
$color-border-destructive-dark: rgb(117, 12, 12);
$color-border-neutral-light: rgb(136, 145, 170);
$color-border-error-light: rgb(245, 138, 138);
$color-border-light: rgb(202, 205, 216);
$color-border-warning-weak: rgb(255, 179, 122);
$color-border-warning: rgb(244, 124, 34);
$color-border-primary-stronger: rgb(3, 11, 93);
$color-border-destructive-stronger: rgb(74, 11, 11);
$color-border-warning-weakest: rgb(254, 245, 238);
$color-border-primary-weaker: rgb(204, 228, 255);
$color-border-destructive-weaker: rgb(252, 207, 207);
$color-border-destructive: rgb(214, 31, 31);
$color-border-inverse-strong: rgba(255, 255, 255, 0.7);
$color-border-primary: rgb(2, 99, 224);
$color-border-primary-weakest: rgb(235, 244, 255);
$color-border-success: rgb(20, 176, 83);
$color-border-destructive-weakest: rgb(254, 236, 236);
$color-border-destructive-strongest: rgb(49, 12, 12);
$color-border-primary-strongest: rgb(6, 3, 58);
$color-border-success-weakest: rgb(237, 253, 243);
$color-border-strong: rgb(96, 107, 133);
$color-border-weak: rgb(202, 205, 216);
$color-border-neutral: rgb(2, 99, 224);
$color-border-error: rgb(214, 31, 31);
$color-border-error-weakest: rgb(254, 236, 236);
$color-border-error-strong: rgb(117, 12, 12);
$color-border-error-weak: rgb(245, 138, 138);
$color-border-neutral-weak: rgb(136, 145, 170);
$color-border: rgb(136, 145, 170);
$color-border-inverse-stronger: rgba(255, 255, 255, 0.9);
$color-border-inverse-weaker: rgba(255, 255, 255, 0.2);
$color-border-success-weak: rgb(54, 213, 118);
$color-border-primary-strong: rgb(0, 20, 137);
$color-border-inverse: rgba(255, 255, 255, 0.5);
$color-border-destructive-strong: rgb(117, 12, 12);
$color-border-primary-weak: rgb(102, 179, 255);
$color-border-destructive-weak: rgb(245, 138, 138);
$color-border-inverse-strongest: rgb(255, 255, 255);
$color-border-weaker: rgb(225, 227, 234);

$font-size-110: 3rem;
$font-size-100: 2.5rem;
$font-size-90: 2rem;
$font-size-80: 1.75rem;
$font-size-70: 1.5rem;
$font-size-60: 1.25rem;
$font-size-50: 1.125rem;
$font-size-40: 1rem;
$font-size-30: 0.875rem;
$font-size-20: 0.75rem;
$font-size-10: 0.625rem;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-0: 0;
$line-height-110: 4rem;
$line-height-100: 3.25rem;
$line-height-90: 2.75rem;
$line-height-80: 2.5rem;
$line-height-70: 2rem;
$line-height-60: 1.75rem;
$line-height-50: 1.75rem;
$line-height-40: 1.5rem;
$line-height-30: 1.25rem;
$line-height-20: 1.25rem;
$line-height-10: 1rem;

$shadow: 0 4px 16px 0 rgba(18, 28, 45, 0.2);
$shadow-low: 0 2px 8px 0 rgba(18, 28, 45, 0.1);
$shadow-high: 0 16px 24px 0 rgba(18, 28, 45, 0.2);
$shadow-focus: 0 0 0 4px rgba(2, 99, 224, 0.7);
$shadow-focus-inverse: 0 0 0 4px rgba(255, 255, 255, 0.4);
$shadow-border: 0 0 0 1px #8891aa;
$shadow-border-primary: 0 0 0 1px #0263e0;
$shadow-border-destructive: 0 0 0 1px #d61f1f;
$shadow-border-weak: 0 0 0 1px #cacdd8;

$space-0: 0;
$space-10: 0.125rem;
$space-20: 0.25rem;
$space-30: 0.5rem;
$space-40: 0.75rem;
$space-50: 1rem;
$space-60: 1.25rem;
$space-70: 1.5rem;
$space-80: 1.75rem;
$space-90: 2rem;
$space-100: 2.25rem;
$space-110: 2.5rem;
$space-120: 2.75rem;
$space-130: 3rem;
$space-140: 3.25rem;
$space-150: 3.5rem;
$space-160: 3.75rem;
$space-170: 4rem;
$space-180: 4.25rem;
$space-190: 4.5rem;
$space-200: 4.75rem;

$z-index-0: 0;
$z-index-10: 10;
$z-index-20: 20;
$z-index-30: 30;
$z-index-40: 40;
$z-index-50: 50;
$z-index-60: 60;
$z-index-70: 70;
$z-index-80: 80;
$z-index-90: 90;

$size-icon-90: (2.75rem);
$size-icon-80: (2.5rem);
$size-icon-70: (2.25rem);
$size-icon-60: (2rem);
$size-icon-50: (1.75rem);
$size-icon-40: (1.5rem);
$size-icon-30: (1.25rem);
$size-icon-20: (1rem);
$size-icon-15: (0.875rem);
$size-icon-10: (0.75rem);
$size-icon-0: (0.5rem);

$border-radius-circle: (50%);
$border-radius-70: (3.5rem);
$border-radius-60: (3rem);
$border-radius-50: (2.5rem);
$border-radius-40: (2rem);
$border-radius-30: (1.5rem);
$border-radius-25: (1.25rem);
$border-radius-20: (1rem);
$border-radius-15: (0.75rem);
$border-radius-10: (0.5rem);
$border-radius-5: (0.25rem);
$border-radius-0: (0);


$color-text-weakest: (rgb(255, 255, 255));