@import "../../styles/main.scss";

.containerStyles {
    border: none;
    align-items: end;
    background-color: $ui-color-yellow;
    display: flex;
    height: $size-icon-90;
    width: $size-icon-90;
    font-size: $font-size-50;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-circle;
    color: $color-text-weakest;
    cursor: pointer;
    transition: background-color 0.2s;
    outline: 0px;
    padding: $space-0;

    &:hover {
          background-color: $ui-color-yellow;
    }

    &:focus-visible {
        background-color: $ui-color-yellow;
        box-shadow: $shadow-focus;
    }
}
