@import './variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $ui-color-yellow;
  padding: $space-40;
  border-radius: $border-radius-20 $border-radius-20 0 0;
}

.titleContainer{
    display: flex;
    gap: 4px;
    align-items: center;
}

.title {
    padding: 0.25rem 0.5rem;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    color: $ui-color-black;
} 

.iconsContainer{
    display: flex;
    align-items: center;
}

.iconAsButton{
  cursor: pointer;
}