@import './variables.scss';

.form {
  border-top-color: $color-border-weaker;
  border-top-width: 1px;
  border-top-style: solid;
  padding: $space-20;
}

.innerInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.textAreaContainer {
    margin: auto 12px auto 0;
    flex: 1 1;
}

.textArea{
    outline: none;
    border: none;
    resize: none;
    align-content: center;
    width: 100%;
    height: 33px;
    font-family: "Noto Sans IKEA Hebrew", sans-serif;
}
.messageOptionContainer {
    margin: 0.5rem;
    margin-left: 0.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 6px;
}

.sendButton{
  transform: rotateY(180deg);
  cursor: pointer;
}

.filePreviewContainer {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: 300px;
  position: relative;
  padding-left: $space-30;
  padding-right: $space-30;
} 

