@import './variables.scss';

.outerContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: $space-40;
}

.bubbleContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  min-width: 4rem;
  max-width: 300px;
}

.bubbleContainerUser{
    align-self: flex-end;
      max-width: 300px;
  }

.innerContainer {
  padding: 0 $space-40;
  border-radius: 1.3em 4px 1.3em 1.3em;
  border: 2px solid #DFDFDF;
  width: 100%;
    min-height: 40px;
    display: flex;
    align-items: center;
}

.innerContainerUser{
    padding: 0 0.75rem;
    border-radius: 4px 1.3em 1.3em 1.3em;
    border: none;
    width: 100%;
    align-self: flex-end;
    background-color: $ui-color-black;
    color: $ui-color-white;
    min-height: 40px;
    display: flex;
    align-items: center;
}

.timeStamp {
    font-size: 10.5px;
    align-self: self-end;
    color: #6e6d6d;
    margin: 0 0 0 0.75rem;
}

.body {
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0;
    padding: 10px 0px;
}

.bodyUser {
    white-space: pre-wrap;
    word-break: break-word;
    margin: 0;
    padding: 10px 0px;
  color:$ui-color-white
}



.readStatus {
  text-align: right;
  font-size: $font-size-10;
  margin-right: $space-20;
  color: $font-color-primary;
} 

.messageArray{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 12px 0;
}
.option{
      font-family: $font-family-ikea;
     background-color: $color-background-options;
    max-width: 250px;
    min-height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    padding: 10px 6px;
}