@import '../../styles/main.scss';

.messageList {
  flex-grow: 1;
  justify-content: flex-end;
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.outerContainer {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  margin-top: auto;
  overflow: auto;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  padding: $space-40;
  flex: 1;
}

.spinnerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 48px; // יש להמיר ל-MESSAGES_SPINNER_BOX_HEIGHT אם יש משתנה מתאים
}

.participantTyping {
  font-size: $font-size-10;
  font-style: italic;
  color: $color-text-weak;
  margin-top: auto;
}

.conversationEventContainer {
  text-align: center;
  margin-top: $space-40;
  margin-bottom: $space-60;
}

.conversationEventTitle {
  font-size: $font-size-20;
}

.conversationEventDate {
  font-size: $font-size-20;
  font-style: italic;
  color: $color-text-weak;
} 