@import '../../styles/main.scss';

.optionList {
    display: flex;
    flex-direction: column;
    gap: $space-20;
    padding: $space-30 $space-50;

    .dateButton {
        @include baseButton;
        border: none;
        background-color: $ui-color-black;
        border-radius: $border-radius-70;
        color: $ui-color-white;
        width: 50px;
        padding: $space-10;
        align-self: center;
    }
    

    .optionButton {
        @include baseButton;
        padding: $space-40 $space-30;
        border: none;
        background-color: $ui-color-light-gray;
        border-radius: $border-radius-25;
        width: 250px;

    }
  
}
