// Local variables for component styles, mapped to global variables
// You can override these locally if needed, or just use them as documentation

$ui-color-yellow: $ui-color-yellow;
$ui-color-black: $ui-color-black;
$ui-color-light-gray: $ui-color-light-gray;
$ui-color-white: $ui-color-white;
$font-color-primary: $font-color-primary;
$font-family-ikea: $font-family-ikea;
$font-size-10: $font-size-10;
$font-size-20: $font-size-20;
$font-size-30: $font-size-30;
$font-size-40: $font-size-40;
$font-size-50: $font-size-50;
$font-weight-normal: $font-weight-normal;
$font-weight-bold: $font-weight-bold;
$line-height-10: $line-height-10;
$line-height-30: $line-height-30;
$line-height-40: $line-height-40;
$shadow: $shadow;
$shadow-focus: $shadow-focus;
$space-0: $space-0;
$space-10: $space-10;
$space-20: $space-20;
$space-30: $space-30;
$space-40: $space-40;
$space-50: $space-50;
$space-60: $space-60;
$space-70: $space-70;
$space-80: $space-80;
$space-90: $space-90;
$space-100: $space-100;
$space-110: $space-110;
$space-120: $space-120;
$border-radius-circle: $border-radius-circle;
$border-radius-0: $border-radius-0;
$border-radius-10: $border-radius-10;
$border-radius-20: $border-radius-20;
$border-radius-30: $border-radius-30;
$color-background: $color-background;
$color-background-body: $color-background-body;
$color-border-primary: $color-border-primary;
$color-border-weak: $color-border-weak;
$color-text-weakest: $color-text-weakest;
$z-index-10: $z-index-10;
$size-icon-40: $size-icon-40;
$size-icon-90: $size-icon-90;
